.container {
  color: var(--bs1);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
}

.s-font {
  font-size: 12px;
}

.b-font {
  font-size: 20px;
}

button.action:active {
  opacity: 0.7;
}

h1 {
  position: relative;
  text-align: center;
  background-color: var(--bs6);
  padding-bottom: 5px;
}
h1 button {
  position: absolute;
  left: 15px;
  top: calc(50% - 1px);
  transform: translate(0, -50%);
  padding: 0;
  font-size: 24px;
  background-color: transparent;
  color: var(--bs1);
  cursor: pointer;
}

h2 {
  text-align: center;
  background-color: var(--bs6);
  margin-top: 10px;
  padding-bottom: 7px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  background-color: var(--bs1);
  background-image: url(../../../data/img/profile.jpg);
  background-size: cover;
  background-position: center;
  border: 2px solid var(--bs1);
  border-radius: 50%;
  margin-left: 50%;
  transform: translate(-50%);
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.profile-picture i {
  position: absolute;
  bottom: 10px;
  text-shadow: 0 0 2px black;
}

.profile-picture:hover {
  opacity: 0.8;
}

.box {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid var(--bs2);
  border-radius: 10px;
  width: calc(100% - 10px);
  margin: 20px 0;
}
.box .secret {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box .secret p {
  margin-right: 7px;
}
.box .secret p.disabled {
  display: none;
}
.box .secret #email-toggle, .box .secret #uid-toggle {
  cursor: pointer;
}
.box b.jarak {
  margin-bottom: 7px;
}
.box .kecil {
  font-size: 14px;
}
.box p.about-sect {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 0 5px;
  word-break: break-all;
  word-break: break-word;
  max-height: 150px;
  overflow-y: auto;
}
.box button.bottom {
  padding: 3px 0;
  background-color: var(--bs2);
  color: white;
}
.box button.bottom select {
  background-color: transparent;
  color: white;
  text-align: center;
}
.box button.bottom option {
  background-color: var(--bs2);
  color: white;
}
.box button.bottom option:nth-child(1) {
  display: none;
}
.box .group {
  display: flex;
  justify-content: center;
  margin-bottom: 7px;
}
.box .group button.social {
  background-color: var(--bs3);
  color: white;
  margin: 3px 5px;
  border-radius: 5px;
  padding: 3px 7px;
}
.box .group button.social:nth-child(2) i {
  color: red;
}
.box .group button.social:nth-child(3) i {
  color: #0055ff;
}

.grouping {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.grouping .logout {
  width: calc(50% - 10px);
  padding: 5px 0 8px 0;
  background-color: var(--bs3);
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

.br {
  height: 40px;
}

.Uploader {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(33, 40, 48, 0.8);
  color: white;
}
.Uploader h1, .Uploader h2 {
  background-color: transparent;
}

.Theme_Change {
  z-index: 3;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ece6c2;
  color: black;
  -webkit-animation: theming 1s;
          animation: theming 1s;
  font-size: 50px;
}

.Theme_Change i {
  -webkit-animation: themingicon 1s;
          animation: themingicon 1s;
}

.Theme_Change.out i {
  -webkit-animation: themingiconout 1s;
          animation: themingiconout 1s;
}

.Theme_Change.dark {
  color: white;
  background-color: #272b30;
}

.Theme_Change.out {
  -webkit-animation: outtheming 1s;
          animation: outtheming 1s;
}

@-webkit-keyframes theming {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

@keyframes theming {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}
@-webkit-keyframes outtheming {
  0% {
    opacity: 1;
    right: 0;
    width: 100%;
  }
  100% {
    opacity: 0;
    right: 0;
    width: 0;
  }
}
@keyframes outtheming {
  0% {
    opacity: 1;
    right: 0;
    width: 100%;
  }
  100% {
    opacity: 0;
    right: 0;
    width: 0;
  }
}
@-webkit-keyframes themingicon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
@keyframes themingicon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
@-webkit-keyframes themingiconout {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
@keyframes themingiconout {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
.dark .container {
  color: white;
}
.dark h1 {
  background-color: var(--bg2);
}
.dark h1 button {
  color: white;
}
.dark h2 {
  background-color: var(--bg2);
}
.dark .profile-picture {
  background-color: black;
  border: 2px solid var(--bg2);
}
.dark .box {
  border: 2px solid var(--bg2);
}
.dark .box button.bottom {
  background-color: var(--bg2);
}
.dark .box button.bottom option {
  background-color: var(--bg2);
}
.dark .box .group button.social {
  background-color: #1b1b1b;
  color: white;
}
.dark .box .group button.social:nth-child(2) i {
  color: var(--c-red);
}
.dark .box .group button.social:nth-child(3) i {
  color: var(--c-blue);
}
.dark .grouping .logout {
  background-color: var(--c-red);
}
.dark .Uploader {
  background-color: rgba(33, 40, 48, 0.8);
  color: white;
}
.dark .Uploader h1, .dark .Uploader h2 {
  background-color: transparent;
}